.vscode/
.DS_Store
node_modules/
dist/
.env
*.log
coverage/
.idea/
*.iml
*.swp
*.bak
*.tmp
*.class
*.exe
*.dll
*.o
*.so
*.pyc
__pycache__/
*.sqlite3
*.db
*.log.*
*.zip
*.tar.gz
*.rar
*.7z
*.bakup
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
*.history/