.app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: rgb(17, 100, 17);
  }
.chat-messages-container {
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
    scrollbar-width: thin;
    display: flex;
    border: solid 2px #ccc;
    border-radius: 8px;
    flex-direction: column;
}
.chat-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 10px;
}
.send-button {
    background-color: rgb(17, 100, 17);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 8px;
}
.chat-input {
    flex-grow: 1;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 0px;

}
.chat-input, .send-button {
    font-size: 18px;
    padding: 12px 20px;
}
img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin: 0;
}
.chat-user-message, .chat-robot-message {
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 16px;
    max-width: 80%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.chat-user-message {
    background-color: #d1e7dd;
    margin-left: auto;
    justify-content: flex-end;
}
.chat-user-message img {
    margin-left: 12px;
}
  .chat-robot-message img {
    margin-right: 12px;
}
  .chat-robot-message {
    background-color: #f4fbc1;
    margin-right: auto;
    justify-content: flex-start;
}
  .message-text {
    vertical-align: middle;
    display: inline-block;
}