.app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: rgb(17, 100, 17);
  }
